<!DOCTYPE html>
<html>

<head>
    <title>ANNPSO</title>
    <meta name='viewport' content='initial-scale=1' />
    <link rel='stylesheet' href='main.css' />
    <style>


    #chart{
        width: 800px;
        height: 500px;
         position: absolute;
        top: 50px;
    }

</style>
</head>

<body>
    <div id='header' class='box'>
        <a href="reservoir"><span class='header-item'>Reservoir</span></a>
        <a href="/"><span class='header-item selected'>Simulate</span></a>
        <a href="/placewells"><span class='header-item'>Place wells</span></a>
        <a href="/maps"><span class='header-item'>Maps</span></a>
        <span class='header-item right' style='color: rgba(0,0,0,0.8); cursor: none;'>Well Placement Using ANN</span>
    </div>
    <div id='main'>
        <div id='other'>
            <div id='chart-box'>
                <div id='chart'></div>
            </div>
        </div>
    </div>
    <div id='controls'>
        <div class='section'>
            <div class='section-header'>Wells</div>
            <div class='button' id="place-wells-manual">Manually Place Well</div>
        </div>
        <div class='section'>
            <div class='section-header'>Simulate</div>
            <div class='button' id='simulate-simulator'>Use Simulator</div><span class='button-text' id='simulate-simulator-text'></span>
            <br/>
            <div class='button' id='simulate-ann'>Use ANN*</div><span class='button-text' id="simulate-ann-text"></span>
            <br/>
            <div class='button' id='simulate-all'>Use All</div>
        </div>
        <div class='section'>
            <div class='section-header'>Solve</div>
            <div class='button'>Use Simulator</div><span class='button-text'>-</span>
            <br/>
            <div class='button'>Use ANN</div><span class='button-text'></span>
            <br/>
            <div class='button'>Use ANN-PSO*</div><span class='button-text'></span>
            <br/>
            <div class='button'>Use All</div>
        </div>
        <div style='padding: 10px; font-size: 0.8em;'>*The method proposed in this research. Note perfomance improvements compared to traditional approaches.</div>
    </div>
</body>
<script src="./jquery.js"></script>
<script src="./utilities.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src='loader.js'></script>
<script src='simulate.js'></script>
<script>
var chart, data, options;
var chartCount = 0;
google.charts.load('current', {packages: ['corechart']});
google.charts.setOnLoadCallback(drawCurveTypes);
function drawCurveTypes() {
    data = new google.visualization.DataTable();
    data.addColumn('number', 'X');
    data.addColumn('number', 'simulator');
    data.addColumn('number', 'ANN');
    //data.addColumn('number', 'ANN');

    data.addRows([[0,0,0]]);//[[0, 0, 0],    [1, 10, 5],   [2, 23, 15],  [3, 17, 9],   [4, 18, 10],  [5, 9, 5]]);
    chartCount++;

    options = {
        hAxis: {
            title: 'Time [days]'
        },
        vAxis: {
            title: 'Pressure [psi]'//'Production [STB/d]'
        },
        series: {
            1: {curveType: 'function'}
        }
    };

    chart = new google.visualization.LineChart(document.getElementById('chart'));
    chart.draw(data, options);
}
setTimeout(function(){
    let gridx = 5;
    let gridy = 5;
    let blocks = 25;
    for(let i = 0; i < 5; i++){
    
    data.insertRows(chartCount, [[blocks, Math.exp(blocks), 4*blocks+10]]);
    chart.draw(data, options);
    chartCount++;
    gridx += 1;
    gridy += 1;
    blocks += 10;
}

}, 2000);
</script>
</html>