<!DOCTYPE html>
<html>

<head>
    <title>ANNPSO</title>
    <meta name='viewport' content='initial-scale=1' />
    <link rel='stylesheet' href='main.css' />
</head>

<body>
<div id='header' class='box'>
    <a href="reservoir"><span class='header-item'>Reservoir</span></a>
    <a href="/"><span class='header-item'>Simulate</span></a>
    <a href="/placewells"><span class='header-item'>Place wells</span></a>
    <a href="/maps"><span class='header-item selected'>Maps</span></a>
    <span class='header-item right' style='color: rgba(0,0,0,0.8); cursor: none;'>Well Placement Using ANN</span>
</div>
    <div id='main'>
        <div style="float: left;">
            <div id='map'></div>
            <select id='choose-res'>
                <option>Hetero 3 (20 x 20)</option>
            </select>
        </div>
        <div id='other'>
            <div id='colorbar' class="maps"></div>
            <div id='labels'>
                <div class='label'>Min</div>
                <div class='label' style='text-align: center;'>Q'</div>
                <div class='label' style='text-align: right;'>Max</div>
            </div>
            <div id='chart-box'>
                <canvas id='chart'></canvas>
            </div>
            <div id='other-info'>
                <div class='row'>Info</div>
                <div class='row'>
                    <div class='left row-item'>Day: <span id="day">0</span></div>
                    <div class='left row-item'>OOIP: <span id="ooip"></span> MMSTB</div>
                    <div class='left row-item'>Recovered: <span id="recovered"></span> MMSTB</div>
                    <div class='left row-item'>Remaining: <span id="remaining"></span> MMSTB</div>
                </div>
                <div class='row'>
                    <div class='left row-item'>Initial Pressure: <span>4500 psi</span></div>
                    <div class='left row-item'>Recovery Factor: <span id="rf"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div id='controls'>
        <div class='section'>
            <div class='section-header'>Draw Production Map</div>
            <div class='button' id='draw-map-simulator'>Use Simulator</div><span class='button-text' id='simulate-simulator-text'></span>
            <br/>
            <div class='button' id='draw-map-ann'>Use ANN*</div><span class='button-text' id="simulate-ann-text"></span>
            <br/>
        </div>
        <div style='padding: 10px; font-size: 0.8em;'>*The method proposed in this research. Note perfomance improvements compared to traditional approaches.</div>
    </div>
</body>
<script type="text/javascript" src="./jquery.js"></script>
<script src="./utilities.js"></script>
<scrip src="clone.js"></scrip>
<script src="/socket.io/socket.io.js"></script>
<script src='main.js'></script>
<script src='Chart.js'></script>
<script src='maps.js'></script>
</html>