<!DOCTYPE html>
<html>

<head>
    <title>ANNPSO</title>
    <meta name='viewport' content='initial-scale=1' />
    <link rel='stylesheet' href='main.css' />
    <link rel="stylesheet" href="reservoir.css"/>
</head>

<body>
<div id='header' class='box'>
    <a href="reservoir"><span class='header-item selected'>Reservoir</span></a>
    <a href="/"><span class='header-item'>Simulate</span></a>
    <a href="/placewells"><span class='header-item'>Place wells</span></a>
    <a href="/maps"><span class='header-item'>Maps</span></a>
    <span class='header-item right' style='color: rgba(0,0,0,0.8); cursor: none;'>Well Placement Using ANN</span>
</div>
    <div id='main'>
        <div style="float: left;">
            <div id='map'></div>
            <select id='choose-res'>
            </select>
        </div>
        <div id='other'>
            <div id='colorbar'></div>
            <div id='labels'>
                <div class='label'>0 md</div>
                <div class='label' style='text-align: center;'>PP = k*&Phi;*So</div>
                <div class='label' style='text-align: right;'>100 md</div>
            </div>
            <div id='chart-box'>
                <canvas id='chart'></canvas>
            </div>
            <div id='other-info'>
                <div class='row'>Info</div>
                <div class='row'>
                    <div class='left row-item'>Day: <span id="day">0</span></div>
                    <div class='left row-item'>OOIP: <span id="ooip"></span> MMSTB</div>
                    <div class='left row-item'>Recovered: <span id="recovered"></span> MMSTB</div>
                    <div class='left row-item'>Remaining: <span id="remaining"></span> MMSTB</div>
                </div>
                <div class='row'>
                    <div class='left row-item'>Initial Pressure: <span>4500 psi</span></div>
                    <div class='left row-item'>Recovery Factor: <span id="rf"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div id='controls'>
        <div class='section'>
            <div class='section-header'>Create New*</div>
            <table>
                <tr>
                    <td><span class='button-text'>Name: </span></td>
                    <td><input id='edit-name' class='input' type="text"/></td>
                </tr>
                <tr>
                    <td><span class='button-text'>Size: </span></td>
                    <td><input id="edit-rows" class='input' style="width:50px" type="text"/> x<input id="edit-cols" style="width: 50px;" class='input' type="text"/></td>
                </tr>
            </table>
            <div class='button' id="res-update">Create Reservoir</div>
        </div>
        <div class='section'>
            <div class='section-header'>Modify</div>
            <table id="modify-box" border="0">
                <tr>
                    <td>Radius:</td>
                    <td><div class="slidecontainer">
                            <input type="range" min="1" max="100" value="15" class="" id="myRange">
                        </div>
                    </td>
                    <td><span id="brush-radius"></span></td>
                </tr>
                <tr>
                    <td><span class='button-text'>&Phi;: </span></td>
                    <td><div class="button short neg" data-id="edit-poro">-</div><div class="button short" data-id="edit-poro">+</div></td>
                    <td><span id="edit-poro-text"></span></td>
                </tr>
                <tr>
                    <td><span class='button-text'>k: </span></td>
                    <td><div class="button short neg" data-id="edit-k">-</div><div class="button short" data-id="edit-k">+</div></td>
                    <td><span id="edit-k-text"></span></td>
                </tr>
                <tr>
                    <td><span class='button-text'>So: </span></td>
                    <td><div class="button short neg" data-id="edit-so">-</div><div class="button short" data-id="edit-so">+</div></td>
                    <td><span id="edit-so-text"></span></td>
                </tr>
            </table>
        </div>
        <div class='section'>
            <div class='button' id="reservoir-save">Save</div><span class="button-text" id="reservoir-save-text"></span>
        </div>
        <div style='padding: 10px; font-size: 0.8em;'>*The method proposed in this research. Note perfomance improvements compared to traditional approaches.</div>
    </div>
</body>
<script type="text/javascript" src="./jquery.js"></script>
<script src="utilities.js"></script>
<script src="clone.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src='loader.js'></script>
<script src='main.js'></script>
<script src='reservoir.js'></script>
</html>